@keyframes grain {

    0%,
    100% {
        transform: translate(10%, 0)
    }

    12.5% {
        transform: translate(5%, 5%)
    }

    25% {
        transform: translate(0, 10%)
    }

    37.5% {
        transform: translate(-5%, 5%)
    }

    50% {
        transform: translate(-10%, 0%)
    }

    62.5% {
        transform: translate(-5%, -5%)
    }

    75% {
        transform: translate(0%, -10%)
    }

    87.5% {
        transform: translate(5%, -5%)
    }
}

@-webkit-keyframes translateY_0To-10 {
    from {
        -moz-transform: translateY(0%);
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }

    to {
        -moz-transform: translateY(-10%);
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }
}

@-webkit-keyframes translateY_-10To0 {
    from {
        -moz-transform: translateY(-10%);
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }

    to {
        -moz-transform: translateY(0%);
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@-webkit-keyframes translateY_0To150 {
    from {
        -moz-transform: translateY(0%);
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }

    to {
        -moz-transform: translateY(150%);
        -webkit-transform: translateY(150%);
        transform: translateY(150%);
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}