@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes translateY_0To-10 {
    from {
        -moz-transform: translateY(0%);
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }

    to {
        -moz-transform: translateY(-10%);
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }
}

@-webkit-keyframes translateY_-10To0 {
    from {
        -moz-transform: translateY(-10%);
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }

    to {
        -moz-transform: translateY(0%);
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@-webkit-keyframes scale_1To11 {
    from {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@-webkit-keyframes scale_11To1 {
    from {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    to {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes translateY_0To-150 {
    from {
        -moz-transform: translateY(0%);
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }

    to {
        -moz-transform: translateY(-150%);
        -webkit-transform: translateY(-150%);
        transform: translateY(-150%);
    }
}

@-webkit-keyframes translateY_-150To0 {
    from {
        -moz-transform: translateY(-150%);
        -webkit-transform: translateY(-150%);
        transform: translateY(-150%);
    }

    to {
        -moz-transform: translateY(0%);
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@-webkit-keyframes slider_width_0To150 {
    from {
        width: 0px;
        opacity: 0;
    }

    to {
        width: 150px;
        opacity: 1;
    }
}

@-webkit-keyframes slider_width_150To0 {
    from {
        width: 150px;
        opacity: 1;
    }

    to {
        width: 0px;
        opacity: 0;
    }
}