@keyframes grain {

    0%,
    100% {
        transform: translate(10%, 0)
    }

    12.5% {
        transform: translate(5%, 5%)
    }

    25% {
        transform: translate(0, 10%)
    }

    37.5% {
        transform: translate(-5%, 5%)
    }

    50% {
        transform: translate(-10%, 0%)
    }

    62.5% {
        transform: translate(-5%, -5%)
    }

    75% {
        transform: translate(0%, -10%)
    }

    87.5% {
        transform: translate(5%, -5%)
    }
}