/*Scrollbar*/
/* width */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

/*Corner*/
::-webkit-scrollbar-corner {
	background: #242424;
}
/* Track */
::-webkit-scrollbar-track {
	background: #242424;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	background: #3b3b3b
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #454545;
}

/*Defaults*/
a {
	text-decoration: none;
}
* {
	font-family: monospace, Sans-serif;
	letter-spacing: 0.5px;
	
	background: #1c1c1c;
	color: #ffffff;
	
	padding: 0;
	margin:0;
}
html {
	overflow-y: scroll;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.onlyMobile {
	display: none;
}
.flicker {
	animation: flicker 3s linear infinite;
}
@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		opacity: .99;
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}

/*Header*/
.webHeader {
	text-align: left;
	font-size: 1.25em;
	
	width: 100%;
	
	border-bottom: 1px dotted grey;
}
.webHeaderText {
	width: 1000px;
	margin: auto;
	padding: 15px;
}
/*Header Menu*/
header {
	border-bottom: 1px dotted grey;
}
.headerMenu {
	padding: 6px;
	margin: auto;
	width: 1000px;
	
}
.headerMenu ul {
	color: #bfbfbf;
	list-style: none;
}
.headerMenu ul li {
	display: inline;
}
.headerMenu ul li a {
	color: #bfbfbf;
}
.headerMenu ul li a:hover {
	color: #d9d9d9;
}

/*Content Defaults*/
.content {
	margin: auto;
	margin-top: 30px;
	
	
	width: 1000px;
	
	
	line-height: 22px;
}
.content ul {
	list-style: none;
}
.postLink:hover {
	text-decoration: underline;
}
.liDate {
	color: #bfbfbf;
}
.asciiTree {
	color: #bfbfbf;
	letter-spacing: 0px;
}

/*Index*/
.blogList {
	line-height: 30px;
}

/*Inspiration*/
.treeWrap {
	white-space: pre-wrap;
	line-height: 19px;
	width: 50%;
	float:left;
}
.inspirationToggleDiv {
	float: right;
	width: 50%;
	margin-bottom: 20px;
}
.insToggleButton {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.insToggleButton:hover {
	text-decoration: underline;
}

/*Portfolio*/
.portCat {
	color: #bfbfbf;
}
.portfolioList li {
	display: inline;
	line-height:30px;
}
.portImage:hover {
	opacity: 0.8;
	cursor: pointer;
}
.portfolioListAudio li {
	line-height:25px;
}
.portfolioListAudio li button:hover {
	text-decoration: underline;
}
.audioPlayButton {
	cursor: pointer;
	background: none;
	border: none;
	color: #bfbfbf;
	font-size: 16px;
}
.audioPlayButton:focus {
	outline: none;
}


/*Blog Title*/
.blogTitle {
	font-size: 30px;
	letter-spacing: 2px;
	float: left;
}
.blogContent {
	color: #bfbfbf;
	margin-top: 30px;
	margin-bottom: 30px;
}

.codeBlock {
	color: #c2c2c2;
	background: #242424;
	white-space: pre;
	
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 28px;
	margin-bottom: 28px;
}
.blogSection {
	font-size: 25px;
	float: left;
}
.blogImage {
	width: 100%;
	height: auto;
}

/*Contact*/
.contactLink:hover {
	text-decoration: underline;
}
.socialMediaTree {
	line-height: 19px;
}

/*RoadMap*/
.roadmapWrapper {
}
.roadMapHoverTopic {
	color: #bfbfbf;
}
.roadMapHoverTopic:hover {
	text-decoration: underline;
}
.roadmapContainer {
	width: 476px;
	margin-right: 10px;
	margin-bottom: 10px;
	float:left;
	border: 1px dotted grey;
	padding: 6px;
	overflow: auto;
	white-space: nowrap;
}
.roadmapInnerDiv {
	overflow: auto;
}
.roadmapInnerDiv li:hover {
	text-decoration: underline;
	cursor: pointer;
}
.roadmapInnerDivOL li:hover {
	text-decoration: none;
	cursor: auto;
}


/*Index Gallery*/
.gallery {
	display: flex;
}
.gallery__column {
	display: flex;
	flex-direction: column;
	width: 25%;
}
.gallery__image:hover {
	filter: grayscale(1);
	cursor: pointer;
}
.gallery__image {
	display: block;
	width: 100%;
	transition: .3s;
	position: relative;
}








/*@media only screen and (max-width: 768px) {*/
@media only screen and (max-width: 1040px) {
	.onlyMobile {
		display: block;
	}

	/*Header*/
	.webHeader {
		text-align: left;
		font-size: 1.5em;
		
		padding: 0;
		
		
		width: 100%;
		
		border-bottom: dotted grey 1px;
	}
	.webHeaderText {
		
		padding: 20px;
		padding-bottom: 20px;
		width: auto;
	}
	/*Header Menu*/
	header {
		border: none;
	}
	.headerMenu {
		padding: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 20px;
		
		width: auto;
		
		border-bottom: dotted grey 1px;
	}
	.headerMenu ul {
		color: #bfbfbf;
		list-style: none;
	}
	.headerMenu ul li {
		display: inline;
	}
	.headerMenu ul li a {
		color: #bfbfbf;
	}
	.headerMenu ul li a:hover {
		color: #d9d9d9;
	}

	/*Content Defaults*/
	.content {
		
		line-height: 22px;
		
		padding: 20px;
		margin: 0;
		font-size: 19px;
		
		width: auto;
		
		
	}
	.content ul {
		list-style: none;
	}
	.postLink:hover {
		text-decoration: underline;
	}
	.liDate {
		color: #bfbfbf;
	}
	.asciiTree {
		color: #bfbfbf;
		letter-spacing: 0px;
	}
	.treeWrap .asciiTree {
		display: none;
	}
	/*Index*/
	.postLink {
	}

	/*Inspiration*/
	.treeWrap {
		white-space: pre-wrap;
		width: 100%;
		margin-bottom: 20px;
	}
	.inspirationToggleDiv {
		width: 100%;
	}
	.insToggleButton {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.insToggleButton:hover {
		text-decoration: underline;
	}

	/*Portfolio*/
	.portCat {
		color: #bfbfbf;
	}
	.portfolioList li {
		display: inline;
		line-height:30px;
	}
	.portImage {
		width: 200px;
		height: 200px;
	}
	.portImage:hover {
		opacity: 0.8;
		cursor: pointer;
	}
	.portfolioListAudio li {
		line-height:25px;
	}
	.portfolioListAudio li button:hover {
		text-decoration: underline;
	}
	.audioPlayButton {
		cursor: pointer;
		background: none;
		border: none;
		color: #bfbfbf;
		font-size: 16px;
	}
	.audioPlayButton:focus {
		outline: none;
	}


	/*Blog Title*/
	.blogTitle {
		font-size: 30px;
		letter-spacing: 2px;
		float: left;
	}
	.blogContent {
		color: #bfbfbf;
		white-space: normal;
	}
	.codeBlock {
		color: #c2c2c2;
		background: #242424;
		white-space: pre;
		
		padding-left: 20px;
		padding-right: 20px;
		margin-top: 28px;
		margin-bottom: 28px;
	}
	.blogSection {
		font-size: 25px;
		float: left;
	}
	.blogImage {
		width: 100%;
		height: 100%;
	}

	/*Contact*/
	.contactLink:hover {
		text-decoration: underline;
	}
	.socialMediaTree {
		line-height: 19px;
	}
	/*RoadMap*/
	.roadmapWrapper {
	}
	.roadMapHoverTopic {
		color: #bfbfbf;
	}
	.roadMapHoverTopic:hover {
		text-decoration: underline;
	}
	.roadmapContainer {
		width: 100%;
		margin-bottom: 10px;
		border: 1px dotted grey;
		padding: 6px;
		overflow: auto;
		white-space: nowrap;
	}
	.roadmapInnerDiv {
		overflow: auto;
	}
	.roadmapInnerDiv li:hover {
		text-decoration: underline;
		cursor: pointer;
	}
	.roadmapInnerDivOL li:hover {
		text-decoration: none;
		cursor: auto;
	}
}
