/*Scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/*Corner*/
::-webkit-scrollbar-corner {
    background: #242424;
}

/* Track */
::-webkit-scrollbar-track {
    background: #242424;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3b3b3b
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #454545;
}

/*Defaults*/
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;

    color: white;

    -webkit-tap-highlight-color: transparent;
}


::selection {
    background-color: #d9d9d9;
    color: #242424;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
}

.page-header {
    background-color: black;
    z-index: -1;
}

.page-header:after {
    animation: grain 0.5s steps(8) infinite;
    background-image: url("/images/grain2.jpg");
    content: "";
    height: 300%;
    left: -50%;
    opacity: 1;
    position: fixed;
    top: -110%;
    width: 300%;

    z-index: inherit;
}

.grid-flex-wrapper {
    display: flex;
    height: 100vh;

    justify-content: center;
    align-items: center;
}

.main-grid {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.main-title {
    font-size: 5em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Abril Fatface', cursive;
}

.main-text {
    text-align: center;
    font-size: 1.5em;

    font-family: 'Abhaya Libre', serif;
    font-weight: 100;

    padding-left: 35%;
    padding-right: 35%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


/*Scroller*/
#scroll-down {
    font-size: 1em;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;

    opacity: 1;

    z-index: 5;
}

#scroll-down img:hover {
    cursor: pointer;

    -webkit-animation-name: translateY_0To-10;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
}

#scroll-down img:not(:hover) {
    cursor: pointer;

    -webkit-animation-name: translateY_-10To0;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
}

.scrollerOutAnim {
    -webkit-animation-name: translateY_0To150;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
}

/*Image Gallery*/
.image-gallery {
    display: flex;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}