@import "tailwindcss";

@theme {
  --font-sans:
    "Manrope", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  overflow-y: scroll;
}

body {
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-teal-900);
}

::-webkit-scrollbar-thumb {
  background: #1c6d67;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d7971;
}
