@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans:
    "Manrope", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  padding: 1em;
}

:link {
  color: #0000ee;
  text-decoration: underline;
}
:visited {
  color: #551a8b;
}
:link:active,
:visited:active {
  color: #ff0000;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 15px;
}
ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-left: 15px;
}
